* {
		  box-sizing: border-box;
		  font-family: Arial;
		}

h1{
	text-align: center;
	margin: 33px 10px 78px 8px;
	font-size : 28px;
}
.maindiv{
	width: 100%;
}
p{
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
	background-color: gray;
	padding-left: 10px;
    padding-bottom: 10px;
    font-size : 16px;
}
.title
{
	text-align: center;
	border: 1px solid black;
	border-top : 0px;
	border-right : 0px;
	float: right;
	width: 36%;
	font-size : 20px;
}
#title1{
	background-color: pink;
}
#title2{
	background-color: red;
}
#title3{
	background-color: yellow;
}

@media (min-width: 992px)
{
   .col-lg-4
   {
	width: 33.333%;
	float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    .col-md-6
   {
	width: 50%;
	float: left;
    }
    .col-md-12
   {
	width: 100%;
	float: left;
    }
}
@media (max-width: 767px)
{
   .col-sm-12
   {
   	width: 100%;
   }
}